.about-main {
    padding: 8rem 5vw;
    background: #fff;
    color: #000;
    font-family: 'Fira Code', monospace;
  
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    p {
      max-width: 600px;
      font-size: 1.125rem;
      margin: 0 auto;
    }
  }